.Footer {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: transparent
    linear-gradient(180deg, rgb(250 250 250) 0%, rgb(226 170 0) 100%);
  text-align: center;
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 10px;
  letter-spacing: 1px;
}

.Footer h1 {
  filter: drop-shadow(3px 3px 1px rgb(75, 75, 75));
}
